{% extends "layout.html" %}
{% import "macros/blog.html" as blog %}
{% from "macros/pagination.html" import render_pagination %}
{% block feed %}
    <link rel="alternate" type="application/rss+xml" title="Tor Project blog" href="{{ '/@atom/main'|url }}" />
    <link rel="alternate" type="application/rss+xml" title="Tor Project events" href="{{ '/@atom/events'|url }}" />
{% endblock %}
{% block body %}
  {%- block page_heading %}{% endblock -%}
  {%- for child in this.pagination.items %}
    {{ blog.render(child, from_index=true, nth=loop.index) }}
  {%- endfor -%}
  {%- if not this.pagination.has_next -%}
    <h2 class="title"><a href="{{ '/sitemap'|url }}">Visit the sitemap for more blog posts ➡</a></h2>
  {%- endif -%}
  {{ render_pagination(this.pagination) }}
{% endblock %}
